@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap");

div#main-header {
	height: 60px;
	width: 100%;
	background: #006d77;
	font-family: "MuseoModerno", cursive;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.link {
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	transition: all 0.5s;
}
.link:hover {
	color: #74b33a;
}
